################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoApp/DemoApp/DemoApp/obj/Debug/netstandard2.0/View
